[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"

[project]
# PEP 621 project metadata
# See https://www.python.org/dev/peps/pep-0621/
authors = [
    {name = "Frost Ming", email = "mianghong@gmail.com"},
]
dynamic = ["version"]
version = {from = "marko/__init__.py"}
requires-python = ">=3.6"
license = {text = "MIT"}
dependencies = []
dev-dependencies = [
    "pytest<7.0.0,>=6.1.2",
    "pytest-cov<3.0.0,>=2.10.1",
    "mypy",
]
description = "A markdown parser with high extensibility."
name = "marko"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    'Operating System :: OS Independent',
]

[project.urls]
homepage = "https://github.com/frostming/marko"
Documentation = "https://marko-py.readthedocs.io"

[project.optional-dependencies]
toc = ["python-slugify"]
codehilite = ["pygments"]

[project.scripts]
marko = "marko.cli:main"

[tool]
[tool.pdm]
