name: Tests

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13]
        os: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
          - python-version: 3.8
            os: macos-latest
          - python-version: 3.9
            os: macos-latest
        include:
          - python-version: 3.8
            os: macos-13
          - python-version: 3.9
            os: macos-13

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: true
          allow-python-prereleases: true

      - name: Install dependencies
        run: pdm install -G toc -G codehilite
      - name: Run Tests
        if: ${{ matrix.python-version == '3.11' }}
        run: pdm run -v pytest tests
      - name: Run Tests < 3.11
        if: ${{ matrix.python-version != '3.11' }}
        run: pdm run -v pytest --cov=marko/ --cov-report=xml tests
      - name: Upload coverage to Codecov
        if: ${{ matrix.python-version != '3.11' }}
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
